<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Default.ConnectionFactoryName" value="weblogic.jms.ConnectionFactory" />
    <add key="Default.TopicName" value="dizzyworldTopic" />
    <add key="Default.SubscriberName" value="Default" />
    <add key="Default.ClientId" value="Default" />
    <add key="Default.ProviderUrl" value="t3://localhost:7001" />
    <add key="Global.ReceiveAttemptInterval" value="5000" />
    <add key="Global.ErrorAttemptInterval" value="15000" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>