<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnectionFactoryName" value="weblogic.jms.ConnectionFactory" />
    <add key="DefaultTopicName" value="dizzyworldTopic" />
    <add key="DefaultSubscriberName" value="Default" />
    <add key="DefaultClientId" value="Default" />
    <add key="DefaultProviderUrl" value="t3://localhost:7001" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>